.co-robimy {
  background-color: #fff;
  overflow: hidden;
  min-height: 600px;
  padding: 100px 100px;
  outline: none;
  margin-top: -125px;
  @media #{$x-large} {
    padding: 120px 50px;
  }
  @media #{$x-medium} {
    padding: 110px 0px;
  }
  @media #{$medium} {
    margin-top: 0px;
  }
  @media #{$small} {
    padding: 50px 0 0;
    // height: inherit;
  }
  .title-section {
    margin-bottom: 50px;
    @media #{$small} {
      text-align: center;
    }
  }
  .bullets {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    .bullet {
      width: 25%;
      padding: 10px;
      @media #{$medium} {
        width: 50%;
      }
      @media #{$small} {
        width: 100%;
      }
    }
  }
  .bullet__wraper {
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.095);
    padding: 15px;
    display: flex;
    align-items: flex-start;
    height: 100%;
    @media #{$x-medium} {
      flex-wrap: wrap;
    }
    @media #{$medium} {
      flex-wrap: nowrap;
    }
  }
  .bullet__icon {
    img {
      margin: 10px 20px 10px 0;
    }
  }
}
